#body {
  font-family: ""
}
#image {
  height:300px; 
  transform: rotate(deg);
}
.center {
  margin: 0 auto;
}
#main {
  // width: 40%;
}
.inputs {
  // width: 40%;
  padding: 0;
  height: 3em;
}
.input-height {
  height: 2em;
  font-size: 1em;
}

